@import '../common/common.css';
.section-wrapper {
  border: 30px solid #f5f5f5;
  border-bottom: 0;
  padding: 25px;
}
.section-wrapper-last {
  border: 30px solid #f5f5f5;
  padding: 25px;
}
.section-title {
  font-size: 24px;
  font-weight: bold;
}
.section-description {
}
